@tailwind base;
@tailwind components;
@tailwind utilities;

section{
    font-family:normal normal 600 14px/17px Lato;
    background: transparent linear-gradient(141deg, #EBF4FF 0%, #E6FFFA 100%) 0% 0% no-repeat padding-box;
}
.header{
    height: 67px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 0px 0px 12px 12px;
}
h5{
    letter-spacing: 0.84px;
    color: #319795;
    text-align: end;
}
h1{
    color: #2D3748;
    width: 320px;
}
.register{
    height: 128px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px -1px 3px #00000033;
    border-radius: 12px 12px 0px 0px;
}
.register button{
    text-align: center;
    letter-spacing: 0.84px;
    color: #E6FFFA;
    background: transparent linear-gradient(95deg, #319795 0%, #3182CE 100%) 0% 0% no-repeat padding-box;
    border-radius: 12px;
    height: 40px;
    width: 320px;
}
.text-teal-300{
    color: #319795;
}
.text-teal{
    color: #E6FFFA;
}
.bg-emerald{
    background-color: #81E6D9;
}
.tab-space h3{
    color: #4A5568;
}
.tab-space h1, span{
    color: #718096;
}
