<template>
  <section class="max-w-md mx-auto md:h-full">
    <div class="header">
      <h5 class="py-5 px-4 font-bold" >Login</h5>
    </div>
    <h1 class="text-center pt-4 mb-2 text-5xl mx-auto font-semibold">Deine Job website</h1>
    <img src="/undraw_agreement_aajr.svg"/>
    <div class="register">
      <button class="mt-4 lg:mx-16 md:mx-16 mx-9">
        Kostenios Registrieren
      </button>
    </div>
    <div class="flex flex-wrap">
    <div class="w-full">
      <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row bg-white shadow-lg">
        <li class="-mb-px mr-2 last:mr-0 flex-auto text-center cursor-pointer">
          <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal" v-on:click="toggleTabs(1)" v-bind:class="{'text-teal-300 bg-white': openTab !== 1, 'text-teal bg-emerald rounded-l-lg' : openTab === 1}">
            Arbeitnehmer
          </a>
        </li>
        <li class="-mb-px mr-2 last:mr-0 flex-auto text-center cursor-pointer">
          <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal" v-on:click="toggleTabs(2)" v-bind:class="{'text-teal-300 bg-white': openTab !== 2, 'text-teal bg-emerald rounded-l-lg': openTab === 2}">
            Arbeitgeber
          </a>
        </li>
        <li class="-mb-px mr-2 last:mr-0 flex-auto text-center cursor-pointer">
          <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal" v-on:click="toggleTabs(3)" v-bind:class="{'text-teal-300 bg-white': openTab !== 3, 'text-teal bg-emerald rounded-l-lg': openTab === 3}">
            Options
          </a>
        </li>
      </ul>
      <div class="relative flex flex-col min-w-0 break-words w-full shadow-lg rounded">
        <div class="flex-auto">
          <div class="tab-content tab-space">
            <div v-bind:class="{'hidden': openTab !== 1, 'block': openTab === 1}">
              <h3 class="px-8 pt-4 text-inherit text-center text-2xl  bg-white font-semibold">Drei einfache Schritte zu deinem neuen Job</h3>
              <div class=" bg-white px-4 py-5 ">
                <img class="float-right pr-4 pt-4 lg:w-11/12" src="/undraw_Profile_data_re_v81r.svg" />
                <span class="lg:w-3/4 float-right pr-6 lg:pt-24 lg:pl-4 pt-6 text-lg font-medium opacity-75">Erstellen dein Lebenslauf</span>
                <h1 class="text-9xl pt-24">1.</h1>
              </div>
              <div class="bg-transparent pl-12 py-5 flow-root">
                <span class="lg:w-3/4 float-right pr-8 lg:pl-4 pt-24 text-lg font-medium opacity-75">Erstellen dein Lebenslauf</span>
                <h1 class="text-9xl">2.</h1>
                <img class="pr-16 pt-4 float-right lg:w-11/12" src="/undraw_task_31wc.svg"/>
              </div>
              <div class=" bg-white pl-16 py-5 flow-root">
                <span class=" w-3/5 float-right pt-14 pr-8 text-lg font-medium opacity-75">Mit nur einem Klick bewerben</span>
                <h1 class="text-9xl pt-2">3.</h1>
                <img class="min-w-full float-right lg:w-11/12" src="/undraw_personal_file_222m.svg"/>
              </div>
            </div>
            <div v-bind:class="{'hidden': openTab !== 2, 'block': openTab === 2}">
              <h3 class="px-8 pt-4 text-inherit text-center text-2xl  bg-white font-semibold">Drei einfache Schritte zu deinem neuen Job</h3>
              <div class=" bg-white px-4 py-5 ">
                <img class="float-right pr-4 pt-4 lg:w-11/12" src="/undraw_Profile_data_re_v81r.svg" />
                <span class="w-3/5 float-right pr-8 pt-4 lg:pt-20 text-lg font-medium opacity-75">Erstellen dein Unternehmensprofil</span>
                <h1 class="text-9xl pt-24">1.</h1>
              </div>
              <div class="pl-12 py-5 flow-root">
                <span class="float-right pr-8 lg:pr-16 pt-24 text-lg font-medium opacity-75">Erstellen ein Jobinserat</span>
                <h1 class="text-9xl pt-2">2.</h1>
                <img class="pr-16 pt-4 float-right lg:w-11/12" src="/undraw_about_me_wa29.svg"/>
              </div>
              <div class=" bg-white pl-16 py-5 flow-root">
                <span class="w-3/5 float-right  pt-16 text-lg font-medium opacity-75">Wähle deinen neuen Mitarbeiter aus</span>
                <h1 class="text-9xl pt-2">3.</h1>
                <img class="min-w-full float-right mt-4 mr-4 lg:w-11/12" src="/undraw_swipe_profiles1_i6mr.svg"/>
              </div>
            </div>
            <div v-bind:class="{'hidden': openTab !== 3, 'block': openTab === 3}">
              <h3 class="px-8 pt-4 text-inherit text-center text-2xl  bg-white font-semibold">Drei einfache Schritte zur Vermittlung neuer Mitarbeiter</h3>
              <div class=" bg-white px-4 py-5 ">
                <img class="float-right pr-4 pt-4 lg:w-11/12" src="/undraw_Profile_data_re_v81r.svg" />
                <span class="w-3/5 float-right pr-8 pt-4 lg:pt-20 text-lg font-medium opacity-75">Erstellen dein Unternehmensprofil</span>
                <h1 class="text-9xl pt-24">1.</h1>
              </div>
              <div class="bg-transparent pl-12 py-5 flow-root">
                <span class="w-3/5 float-right pr-4 pt-20 text-lg font-medium opacity-75">Erhalte Vermittlungs- angebot von Arbeitgeber</span>
                <h1 class="text-9xl pt-2">2.</h1>
                <img class="pr-16 pt-4 float-right lg:w-11/12" src="/undraw_job_offers_kw5d.svg"/>
              </div>
              <div class=" bg-white pl-16 py-5 flow-root">
                <span class="w-3/5 float-right pt-14 text-lg font-medium opacity-75">Vermittlung nach Provision oder Stundenlohn</span>
                <h1 class="text-9xl pt-2 rounded"  >3.</h1>
                <img class="min-w-full float-right mr-4" src="/undraw_business_deal_cpi9.svg"/>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'IndexPage',
  data(){
    return{
      openTab:1
    }
  },
  methods:{
    toggleTabs: function(tabNumber:any){
      this.openTab = tabNumber
    }
  }
})
</script>
